@media all and (max-width: 900px) {

 .body {
   background-size: cover;
 }

       #top-head,
       .inner {
           width: 100%;
           padding: 0;
       }
       #top-head {
           top: 0;
           position: fixed;
           margin-top: 0;
       }
       /* Fixed reset */
       #top-head.fixed {
           padding-top: 0;
           background-color: #A9D0F5;
       }
       #mobile-head {
           width: 100%;
           height: 56px;
           z-index: 999;
           position: relative;
       }
       #top-head.fixed .logo,
       #top-head .logo {
           position: absolute;
           left: 15px;
           top: 10px;
           margin-bottom: 10px;
       }
       #global-nav {
           position: absolute;
           /* 開いてないときは画面外に配置 */
           top: -500px;
           background: #333;
           width: 100%;
           text-align: center;
           padding: 10px 0;
           -webkit-transition: .5s ease-in-out;
           -moz-transition: .5s ease-in-out;
           transition: .5s ease-in-out;
       }
       #global-nav ul {
           list-style: none;
           position: static;
           right: 0;
           bottom: 0;
           font-size: 14px;
       }
       #global-nav ul li {
           float: none;
           position: static;
       }
       #top-head #global-nav ul li a,
       #top-head.fixed #global-nav ul li a {
           width: 100%;
           display: block;
           color: #fff;
           padding: 18px 0;
       }
       #nav-toggle {
           display: block;
       }
       /* #nav-toggle 切り替えアニメーション */
       .open #nav-toggle span:nth-child(1) {
           top: 11px;
           -webkit-transform: rotate(315deg);
           -moz-transform: rotate(315deg);
           transform: rotate(315deg);
       }
       .open #nav-toggle span:nth-child(2) {
           width: 0;
           left: 50%;
       }
       .open #nav-toggle span:nth-child(3) {
           top: 11px;
           -webkit-transform: rotate(-315deg);
           -moz-transform: rotate(-315deg);
           transform: rotate(-315deg);
       }
       /* #global-nav スライドアニメーション */
       .open #global-nav {
           /* #global-nav top + #mobile-head height */
           -moz-transform: translateY(556px);
           -webkit-transform: translateY(556px);
           transform: translateY(556px);
       }

  .footer-logo {
    margin-left: 10px;
  }

  .footer-list li {
    display: none;
  }

  /*index*/
  .catch-copy p:nth-child(1) {
    font-size: 35px;
  }

  .catch-copy p:nth-child(2) {
    font-size: 25px;
  }
/*contact*/
  .form-title {
   font-size: 25px;
  }

  .contact-title {
  font-size: 20px;
  }

  .contact-wrapper h4 {
    font-size: 12px;
  }

  input[type="text"] {
    width: 75%;
    font-size: 16px;
  }

  .contact-wrapper {
     margin-top: 30px !important;
     padding: 5px !important;
  }

    /*CompanyBrochure*/
    .table-company {
      margin-top: 20px;
      padding: 5px;
    }

    .table-company h3 {
     font-size: 13px;
    }

    .syatiku big {
      font-size: 18px;
    }

  /*BuisinessInfo*/
  .top-main {
    margin-top: 20px;
    padding: 5px;
  }

}
