* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
  box-sizing: border-box;
}

body {
 font-family: "Hiragino Kaku Gothic ProN";
 background-image: url("../katakataS.png");
 background-size: contain;
 margin: 0;
 padding: 0;
 width:100%;
 height:100%;
}

a {
  text-decoration: none;
}

header {
  background-color: #5858FA;
}

.logo {
  color: white;
  float:left;
}

.inner {
    width: 980px;
    margin: 0 auto;
}

.inner:after {
    content: "";
    clear: both;
    display: block;
}

/* header */
#top-head {
    top: -100px;
    position: absolute;
    width: 100%;
    margin: 100px auto 0;
    padding: 25px 0 0;
    line-height: 1;
    z-index: 999;
}
#top-head a,
#top-head {
    color: #fff;
    text-decoration: none;
}
#top-head .inner {
    position: relative;
}
#top-head .logo {
    float: left;
    left: 5px;
    font-size: 36px;
}
#global-nav ul {
    list-style: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
}
#global-nav ul li {
    float: left;
}
#global-nav ul li a {
    padding: 0 30px;
}

/* Fixed */
#top-head.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    padding-top: 10px;
    height: 45px;
    background: #fff;
    background: rgba(255,255,255,.7);
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
}
#top-head.fixed .logo {
    font-size: 24px;
    color: #333;
}
#top-head.fixed #global-nav ul li a {
    color: #333;
    padding: 0 20px;
}

/* Toggle Button */
#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}
#nav-toggle div {
    position: relative;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fefefe;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}

nav ul li a {
  font-size: 20px;
  float: right;
  margin-right: 25px;
  padding-right: 5px;
}

.top-main {
  width: 90%;
  margin: 60px auto;
  padding: 50px;
  background-color: #F5F5F5;
  color: #333;
  margin-top: 80px;
}

.top-main p {
  clear: both;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 24px;
  border-bottom: 3px solid #A9F5F2;
}

.main {
  width: 90%;
  margin: 60px auto;
  padding: 50px;
  background-color: #F5F5F5;
  color: #333;
}

.main p {
  clear: both;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 24px;
  border-bottom: 3px solid #A9F5F2;
}

.one-main {

}

.two-main {

}

.three-main {

}

.environment {
  width: 90%;
  margin: 60px auto;
  padding: 50px;
  background-color: #F5F5F5;
  color: #333;
}

.environment p {
  clear: both;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 24px;
  border-bottom: 3px solid #A9F5F2;
}

footer {
 background-color: #BDBDBD;
 position: absolute;
 width: 100%;
 height: 80px;
 left: 0;
 bottom: 0;
}

.footer-logo {
  float: left;
  padding-top: 15px;
  margin-top: 10px;
  margin-left: 15px;
}

.footer-list {
 float: right;
 margin-top: 15px;
 margin-right: 80px;
}

.footer-list li {
 margin-left: 10px;
 margin-right: 10px;
 list-style: none;
 display: inline-block;
}

.footer-list li a {
 color:white;
}

.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
	  filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
