
@media all and (max-width: 1000px) {
 .tpo-wrapper {
   width: 100%;
 }

  .header-right {
   width: 100%;
   }

  .menu{
  display: none;
  }

  .main {
    min-width: inherit;
  }

  .form-title {
   font-size: 25px;
 }

 input[type="text"] {
   width: 60%;
 }

  .footer-list {
  display: none;
  }

  #nav-open {
  display:block;
  position: absolute;
  right: 30px;
    }

    #nav-content {
      width: 60%;/*右側に隙間を作る（閉じるカバーを表示）*/
      max-width: 240px;/*最大幅（調整してください）*/

    }

.contact-title {
  font-size: 20px;
}

    footer {
      height: 70px;
      padding: 15px;
    }

    footer-logo {
      font-size: 20px;
    }
}

@media screen and (min-width:480px) and (max-width: 768px){
 .header-left {
 font-size: 25px;
 }
}
