/* -------------------- CSSÇÕàÍî‘â∫Ç©ÇÁèëÇ´énÇﬂÇƒÇ≠ÇæÇ≥Ç¢ÅI -------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}


header {
  height: 65px;
  width: 100%;
  background-color: #47585c;
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  font-size:35px;
  padding:10px;
  color:white;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.menu ul{
  margin:0;
  padding:0;

}
.menu ul li {
  list-style: none;
  font-size: 16px;
  float: left;
  position: relative;
  text-align:center;
  font-weight:bold;
}
.menu ul li a {
  color: white;
  display: block;
  text-decoration: none;
}
.menu ul li ul {
  position: absolute;
  top: 65px;
  width: 150px;
  z-index: 100;
}
.menu ul li ul li {
  visibility: hidden;
  overflow: hidden;
  width: 150px;
  height: 0;
  background: #47585c;
}

.menu ul li ul li:hover, .menu ul li ul li a:hover {
  background: #80989b;
}

.menu ul li:hover ul li, .menu ul li a:hover ul li{
  visibility: visible;
  overflow: visible;
  height:65px;
  z-index: 10;
}
.menu * {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-color: #87CEFA;
  background-size: cover;
  color: black;
  text-align: center;
  font-size: 120px;
}

 footer {
  background-color: #D3D3D3;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
  margin: 0 10px;
  list-style: none;
  display: inline-block;
}


