
@media all and (max-width: 1000px) {
 .top-wrapper p {
    font-size: 35px;
  }

  .header-right {
   width: 100%;
   }

  .menu{
  display: none;
  }

  .footer-list {
  display: none;
  }

  #nav-open {
  display:block;
  position: absolute;
  right: 30px;
    }

@media screen and (min-width:480px) and (max-width: 768px){
 .header-left {
 font-size: 30px;
 }
  .top-wrapper p {
  text-align: center;
  }
