/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
 .top-wrapper p {
    font-size: 32px;
  }
  
  .header-right {
  display: none;
  }
  
  .footer-list {
  display: none;
  }
  
  footer {
    text-align:center;
  }
  }

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {

 .header-left {
 font-size: 25px;
 }

 .header-right {
  display: none;
  }
  
  .top-wrapper {
    text-align: center;
  }

  .footer-list {
  display: none;
  }
  
  }
 
