
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}


header {
  height: 65px;
  width: 100%;
  background-color: #5858FA;
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  font-size:30px;
  padding:10px;
}

.header-left a {
  color:white;
}

.header-right {
  float: right;
  margin-right: 25px;
  padding-right: 5px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: #A9A9F5;
}

.sp-menu{
            width: 50px;
            position: absolute;
            top: 10px;
            right: 10px;
            display: none;
            cursor: pointer;
        }

.menu ul{
  margin:0;
  padding:0;

}
.menu ul li {
  list-style: none;
  font-size: 16px;
  float: left;
  position: relative;
  text-align:center;
  font-weight:bold;
}
.menu ul li a {
  color: white;
  display: block;
  text-decoration: none;
}
.menu ul li ul {
  position: absolute;
  top: 65px;
  width: 150px;
  z-index: 100;
}
.menu ul li ul li {
  visibility: hidden;
  overflow: hidden;
  width: 1200px;
  height: 0;
  background: #5882FA;
}

.menu ul li ul li:hover, .menu ul li ul li a:hover {
  background: #A9A9F5;
}

.menu ul li:hover ul li, .menu ul li a:hover ul li{
  visibility: visible;
  overflow: visible;
  height:65px;
  z-index: 10;
}
.menu * {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-color: white ;
  background-size: cover;
  position: relative;
       width: 100%;

       /* コンテンツ部分の高さが画面に収まらない場合はコンテンツの高さに合わせる*/
       height: auto !important;

       /* コンテンツ部分の高さが画面より低い場合は画面の高さに合わせる*/
       height: 100%;
       min-height: 100%;

}

.top-wrapper p {
  color: black;
  font-size: 35px;
  text-align: center;
  background-color: #dcdcdc;
}

.Case {
  margin-left: 10px;
}

.Case-Entrusted {
  margin-left: 10px;
}

.Case-Entrusted h4 {
  padding-bottom: 120px;
}

 footer {
  background-color: #BDBDBD;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 120px;
  padding: 40px;
  bottom:0;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-logo a {
  color:white;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
  margin: 0 10px;
  list-style: none;
  display: inline-block;
}

.footer-list a {
  color:white;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
  display: none;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 5px;/*線の太さ*/
  width: 29px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
  margin-top: 23px;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}


/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.nav-content li  {
  list-style: none;
  font-size: 25px;
  position: relative;
  margin-top: 20px;
}

.nav-content a {
  color:black;
}
